<div class="w-full max-w-md mx-auto mt-20 p-6 bg-white rounded-xl shadow-lg">
  <h2 class="text-2xl font-bold mb-4 text-[#c7a59a] text-center">Restablecer Contraseña</h2>

  <form (ngSubmit)="reset()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Nueva contraseña</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword"
             class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm" required />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Confirmar contraseña</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"
             class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm" required />
    </div>

    <button type="submit"
            class="w-full py-2 px-4 bg-[#c7a59a] text-white font-bold rounded-lg hover:bg-[#b0938b]">
      Cambiar contraseña
    </button>
  </form>

  @if (message()) {
    <div class="mt-4 text-center text-red-500">{{ message() }}</div>
  }
</div>
