<!-- Este es el contenido de tu formulario, ahora sin la estructura HTML completa -->
<div
    class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg transition-transform duration-300 transform hover:scale-105">
    <h2 class="text-3xl font-bold text-center text-[#c7a59a]">Iniciar Sesión</h2>
    <form (ngSubmit)="login()" class="space-y-4">
        <div>
            <label for="email" class="block text-sm font-medium text-[#4a4a4a]">Email</label>
            <input id="email" name="email" type="email" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-[#c7a59a] sm:text-sm transition duration-300"
                [ngModel]="user().email" (ngModelChange)="updateUser('email', $event)" />
            @if (!isEmailValid(user().email) && user().email.trim() !== '') {
            <div class="text-red-500 text-sm mt-1">El email no tiene un formato válido.</div>
            }
        </div>

        <div>
            <label for="password" class="block text-sm font-medium text-[#4a4a4a]">Contraseña</label>
            <input id="password" name="password" type="password" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-[#c7a59a] sm:text-sm transition duration-300"
                [ngModel]="user().password" (ngModelChange)="updateUser('password', $event)" />
        </div>
        <button type="submit" [disabled]="!isFormValid()"
            class="w-full flex justify-center py-3 px-8 border border-transparent rounded-full shadow-lg text-sm font-bold text-white bg-[#c7a59a] hover:bg-[#b0938b] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#c7a59a] disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 transform hover:scale-105">
            Entrar
        </button>
        <div class="text-sm text-center mt-2">
  <a routerLink="/forgot-password" class="font-medium text-[#c7a59a] hover:underline">¿Olvidaste tu contraseña?</a>
</div>


    </form>
    @if (errorMessage()) {
    <div class="text-center text-red-500 text-sm">
        {{ errorMessage() }}
    </div>
    }
    <div class="text-sm text-center">
        <a routerLink="/register" class="font-medium text-[#c7a59a] hover:underline">¿No tienes una cuenta?
            Regístrate</a>
    </div>
</div>